.DS_Store
__pycache__
.vscode
/_OLD_2023-2024/SurfToSurf/code/_FyzeenTests
.ipynb_checkpoints
/_OLD_2023-2024/SurfToSurf/data
SPLINECONV_EPOCH*
shallowSPLINECONV_EPOCH*
/_OLD_2023-2024/SurfToNetmat/LocalTransformerTests/old
/_OLD_2023-2024/SurfToSurf/saved_models
TrainOut
model_output
netmat_data_test
local_data
demographics